.chatBotContainer {
  z-index: 99999;
  position: absolute;
  right: 100px;
  top: calc(100vh - 750px);
  height: 600px;
  width: 400px;
  background: #fff;
  border: 5px solid rgb(0, 146, 202);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

  /* -webkit-animation: scale-up-br 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  animation: scale-up-br 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-br {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
}



.messagesWrapper {
  display: flex;
  gap: 5px;
}

.messagesWrapper img {
  margin-top: 12px;

}

.chatBotClose {
  position: absolute;
  top: 10px;
  right: 20px;
}

.chatBotMessages {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.chatBotInput {
  height: 50px;
}

.chatBotInput input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(0, 146, 202);
}

.chatBotInput button {
  border: 2px solid rgb(0, 146, 202);
  border-radius: 10px;
  background-color: #fff;
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.bubbleBottom {
  --size: 120px;
  z-index: 99999;
  position: absolute;
  right: 20px;
  top: calc(100vh - 130px);
  cursor: pointer;
  width: var(--size);
  height: calc(var(--size) * 0.5);
  font-weight: 800;
  font-size: large;
  color: rgb(0, 146, 202);
  border-color: rgb(0, 146, 202);
}